* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    color: greenyellow;
}

.font1 {
    font-family: "Lobster", sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
    background-size: contain no-repeat;

}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

.assignments ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.assignments ul li {
    margin: 10px 0;
    text-align: center;
}

.assignments ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #664b30;
    font-size: 1.2em;
    transition: color 0.3s;
}

.assignments ul li a:hover {
    color: rgb(243, 146, 45);
}

footer {
    text-align: center;
    padding: 10px;
    color: #777;
    margin-top: auto;
}

.description {
    text-align: center;
    margin: 20px;
    width: 500px; 

}

img{
    width: 500px;
}

img:hover {
    transform-style: initial;
}

img:hover {
    mix-blend-mode: difference;
}

#assignment-page {
    margin: 50px;
}

#sketch-container1{
    margin: 20px auto; /* 水平居中，垂直20px的边距 */
    width: 500px;
}

#sketch-container2{
    margin: 20px auto; /* 水平居中，垂直20px的边距 */
    width: 400px;
}

#sketch-container3{
    margin: 20px auto; /* 水平居中，垂直20px的边距 */
    width: 600px;
}

p {
    font-size: 18px;
}

h2 {
    color: #4c3824;
}

h3 {
    font-style: italic;
    color: #997148;
}

.information-links a{
    text-decoration: none; /* 去除下划线 */
    color: #997148; /* 文字颜色 */
}

.information-links a:hover {
    color: rgb(243, 146, 45); /* 悬停时改变颜色 */
}

#information-page {
    display: flex; /* 启用 Flex 布局 */
    flex-direction: column; /* 使子元素垂直堆叠 (column) */
    align-items: center; /* 水平居中所有子元素 */
    text-align: center; /* 文字居中对齐（p 标签的内容） */
    padding: 20px; 
}